{{ 'swiper-tutorials.css' | asset_url | stylesheet_tag }}

<div class="section tutorials">
  <div class="container tutorials-cont">
    <div class="tutorials-head">
      <span class="txt-eyebrow uppercase">{{ section.settings.section_title }}</span>
      <h2 class="txt-center">{{ section.settings.section_heading }}</h2>
      <a href="products/{{ section.settings.product_link }}">
            <button class="btn-primary btn-dark">{{ section.settings.btn_text }}</button>
          </a>
    </div>
    <div class="tutorials-main">
      <div class="swiper swiper-tutorials">
        <div class="swiper-wrapper swiper-tutorials-wrapper">
          {% for blocks in section.blocks %}
            <div 
              class="swiper-slide swiper-tutorials-slide" 
              style="background-image: url({{ blocks.settings.card_image | image_url: width: 480 }});"
            >
            <div class="swiper-tutorials-content">
              <h3 class="txt-700 fs-32">{{ blocks.settings.card_title }}</h3>
              <span>{{ blocks.settings.card_desc }}</span>
              <a href="{{ blocks.settings.vid_url }}" target="_blank">
                <button class="btn-primary txt-400">
                  Watch Video
                  <img class="icon-14" src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/arrow-green.png?v=1730332241" alt="">
                </button>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="tutorials-btn-wrapper">
          <div class="swiper-button-prev swiper-tutorial-prev">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/chevron-prev-dark.png?v=1730331190" alt="">
          </div>  
          <div class="swiper-button-next swiper-tutorial-next">
            <img src="https://cdn.shopify.com/s/files/1/0728/2645/4272/files/chevron-next-dark.png?v=1730331189" alt="">
          </div>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{{ 'swiper-tutorials.js' | asset_url }}" defer></script>


{% schema %}
{
  "name": "Tutorials Section",
  "settings": [
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "SHOP SEG-B®"  
    },
    {
      "type": "product",
      "id": "product_link",
      "label": "Product Link",
      "info": "Select a Product to Link To"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Daily Exercises Backed By Experts"  
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Improve Your Back Health in Just 10 Minutes A Day"  
    }
  ],
  "blocks": [
     {
       "name": "Card",
       "type": "card",
       "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "video_url",
          "id": "vid_url",
          "label": "YouTube Video URL",
          "accept": ["youtube"]
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title",
          "default": "SEG-B Set Up"  
        },
        {
          "type": "text",
          "id": "card_desc",
          "label": "Card Description",
          "default": "Lorem ipsum dolor sit amet consectetur. Eleifend etiam sit parturient ut tortor ut cras."  
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tutorials Section"
    }
  ]
}
{% endschema %}