<div class="section banner-shop" style="background-image: url('{{ section.settings.section_bg |  image_url: width: 1920 }}');">
  <div class="container banner-shop-cont">
    <div class="banner-shop-content">
      <span class="txt-eyebrow">{{ section.settings.section_title }}</span>
      <h2 class="">{{ section.settings.section_heading }}</h2>
      <a href="products/{{ section.settings.product_link }}">
        <button class="btn-primary">{{ section.settings.btn_text }}</button>
      </a>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Banner Section",
  "settings": [
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "SHOP Now"  
    },
    {
      "type": "product",
      "id": "product_link",
      "label": "Product Link",
      "info": "Select a Product to Link To"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Shop Now"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Ready to Take Control of Your Spinal Health?"
    },
    {
      "type": "image_picker",
      "id": "section_bg",
      "label": "Section Background"
    }
  ]
}
{% endschema %}