<div class="section community">
  <div class="container community-cont">
    <div class="community-head">
      <span class="txt-eyebrow uppercase">{{ section.settings.community_title }}</span>
      <h2 class="txt-center">{{ section.settings.community_heading }}</h2>
      <a href="products/{{ section.settings.product_link }}">
        <button class="btn-primary btn-dark">{{ section.settings.btn_text }}</button>
      </a>
    </div>
    <div class="community-marquee">
      <div class="community-marquee-wrapper">
        <div class="community-marquee-item">
          {% for block in section.blocks %}
            <div class="community-marquee-single">
              <img class="community-marquee-image" src="{{ block.settings.community_slide_image | image_url: width: 480 }}" alt="">
              <div class="community-marquee-person">
                <span class="txt-700 fs-32">{{ block.settings.community_slide_name }}</span>
                <span class="txt-400 fs-18">{{ block.settings.community_slide_desc }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="community-marquee-item">
          {% for block in section.blocks %}
            <div class="community-marquee-single">
              <img class="community-marquee-image" src="{{ block.settings.community_slide_image | image_url: width: 480 }}" alt="">
              <div class="community-marquee-person">
                <span class="txt-700 fs-32">{{ block.settings.community_slide_name }}</span>
                <span class="txt-400 fs-18">{{ block.settings.community_slide_desc }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Community Section",
  "settings": [
    {
      "type": "text",
      "id": "community_title",
      "label": "Section Title",
      "default": "#BACKSYNC"  
    },
    {
      "type": "text",
      "id": "community_heading",
      "label": "Section Heading",
      "default": "Trusted By The Fitness Community"  
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "SHOP SEG-B®"  
    },
    {
      "type": "product",
      "id": "product_link",
      "label": "Product Link",
      "info": "Select a Product to Link To"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
        {
          "type": "image_picker",
          "id": "community_slide_image",
          "label": "Slider Image"
        },
        {
          "type": "text",
          "id": "community_slide_name",
          "label": "Name",
          "default": "MoveU"  
        },
        {
          "type": "text",
          "id": "community_slide_desc",
          "label": "Description",
          "default": "Live your life in alignment!💥"  
        }
      ]
    }
  ]
}
{% endschema %}